			<!DOCTYPE html>
			<html lang="en-US">
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
			<script src= "calculator.js"></script>
			<head>
				<title>Calculator Demo</title>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			</head>
			<body>

				<div class="container">
					<h2>Calculator Demo</h2>
					<div ng-app="CalculatorApp" ng-controller="CalculatorController">
						<form calcuratorForm>
							<div class="form-group">

								Enter the first operand
								<input type="number" ng-model="operand1" class="form-control">
							</div>
							<div class="form-group">
								Enter the second operand
								<input type="number" ng-model="operand2" class="form-control">
							</div>
							<div class="form-group">
								Choose an operation
								<p><select ng-model="operator" class="form-control">
									<option>+</option>
									<option>*</option>
									<option>-</option>
									<option>/</option>
								</select></p>
							</div>
							<div class = "row centered-form center-block">
								<div class="container col-md-10 col-md-offset-5">
									<input type="button" value="Calculate" ng-click="result()" class="btn btn-primary"/>
								</div>
							</div>

						</form>
						
						<div class="form-group">
							<br>
							Result
							<p class="form-control">  {{ res }} </p>
						</div>
					</div>
				</div>
			</body>
			</html>